.card-container{
  width: 25%;
  height: 50%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: turquoise;
}

.card-image {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  background-color: pink;
}

.p-image {
  height: 95%;
  width: 95%;
  margin-left: 6px;
}

.card-title {
  width: 100%;
  height: 10%;
  font-family: Montserrat;
  font-size: 30px;
  text-align: center;
  background-color:aquamarine;
}

.card-contents-container {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  background-color: white;
}

.card-text {
  width: 95%;
  height: 90%;
  margin-left: 8px;
  font-family: Montserrat;
  color: white;
  background-color: lightblue;
}

.project-link {
  width: 100%;
  height: 5%;
  background-color: lightcoral;
}

a:link {
  font-family: Montserrat;
  text-decoration: none;
}

a:hover {
  color: white;
}
