.CVButton-container {
  width: 80%;
  height: 15%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.CVButton{
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.cv-link {
  width: 70%;
  margin-top:5px;
  margin-bottom: 10px;
  margin-left: 5px;
  color: #FE7E6D;
  font-family: 'AbhayaLibre';
  font-weight: bolder;
  font-size: 17px;
  text-decoration: none;
}

.cv-link:hover {
  color: #0F6292;
  font: bold;
  font-size: 20px;
  transition: all 0.2s ease-out;
}
