/* PAGE CONTAINER */
.projects-container {
  width: 100vw;
  min-height: 100%;
  background-image: url("/public/home_bg.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* PAGE HEADER */
.projects-header-container {
  margin-top: 16px;
  width: 100%;
  height: 180px;
  background-image: url("/public/home_peachflower.png");
  background-position: 70px;
  background-size: 140%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-header {
  font-family: 'AbhayaLibre';
  font-size: 80px;
  margin-top: 50px;
  color: white;
}

/*PAGE CARD CONTAINER */
.card-section-container {
width: 95%;
height: 100vh;
margin-left: 140px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

/* CARDS */
