.app-container{
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.profile-container{
  background-color: white;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  display: flex;
  overflow: hidden;
}

.profile-contents-container{
  background-color: green;
  height: 100%;
  width: 50%;
}

.profile-image-container {
  background-color: blue;
  height: 100%;
  width: 50%;
}

.name-div{
  background-color: aliceblue;
  height: 33%;
  width: 100%;
}

.blurb-div {
  background-color: pink;
  height: 33%;
  width: 100%;
}

.link-div {
  background-color: blueviolet;
  height: 34%;
  width: 100%;
}
